항상 기뻐하라
쉬지 말고 기도하라
범사에 감사하라 이것이 그리스도 예수 안에서 너희를 향하신 하나님의 뜻이니라
성령을 소멸하지 말며
예언을 멸시하지 말고
범사에 헤아려 좋은 것을 취하고
악은 어떤 모양이라도 버리라 (살전5:16-22)

-------

<center><img src="https://github.com/idebtor/KMOOC-ML/blob/master/ipynb/images/joyai/pythonML.png?raw=true" width=1000></center>

__NOTE:__ The following materials have been compiled and adapted from the numerous sources including my own. Please help me to keep this tutorial up-to-date by reporting any issues or questions. Send any comments or criticisms to `idebtor@gmail.com` Your assistances and comments will be appreciated.

On my honour, I pledge that I have neither received nor provided improper assistance  
in the completion of this assignment.  
Signed: 최윤영 Student Number: 22100748

# Lists  

__학습 목표__   
- 리스트에 대해 이해한다.
- 파이썬에서 제공하는 리스트 메소드를 살펴본다.  

__학습 내용__
1. 슬라이싱 문법   
1. 다양한 리스트 메소드
1. 리스트 작업 수행

------
Most of programs work not only with variables, but also use lists of variables. For example, a program can handle students informationin in a class by reading the list of students from the keyboard or from a file. 

To store such data, you can use the data structure called __list__. 

- Lists are sequences of objects. 
- Lists can contain a mix of any type of objects:
- Lists are one of the workhorse data structures.

A list is a sequence of elements numbered from 0, just as characters in the string. You create a list by putting square brackets around a comma-separated list of other Python items:

In [1]:
primes = [2, 3, 5, 7, 11, 13]
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

Like strings, you can concatenate lists using the add operation:

In [2]:
# combine two lists
c = primes+rainbow
print(c)

[2, 3, 5, 7, 11, 13, 'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

and you can multiply a list by an integer to repeat the items in a list multiple times:

In [3]:
[True] * 10

[True, True, True, True, True, True, True, True, True, True]

## Lists are mutable


Unlike strings, list indexing is different that you can set the values in the list: strings are __immutable__, but lists are __mutable__.

### Example 6: Change the second element into uppercase

```
['red', 'ORANGE', 'yellow', 'green', 'blue', 'indigo', 'violet']
```

In [4]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
rainbow[1]=rainbow[1].upper()
print(rainbow)

['red', 'ORANGE', 'yellow', 'green', 'blue', 'indigo', 'violet']

## Making a list

Make a list called `seq` with __odd__ numbers between 1 and 20 as shown below:

```
seq = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
```

__Solution 1:__
- Create an empty list or initialize a list.
- Use a `for` loop and `range()`.
- Use `append()` method to append an item to the list one by one.

In [5]:
seq=[]
for i in range(1,20,2):
    seq.append(i)
print(seq)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

__Solution 2__ - a challenge problem:  
- You may do this now, or you would be able to do this after finishing this whole lesson.
- Produce `seq = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]` in the following code
- Use a list additon instead of `append()`.

In [9]:
seq = []
for x in range(1, 20, 2):
    seq=seq+[x]           # use addition or in-place addition
print(seq)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]


## Indexing

Indexing on lists works much the same way as strings.

To get the first element of a list, use index 0:

In [10]:
# print the first color
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
print(rainbow[0])

red

### Example 1: List elments in three different ways

Three ways of printing each color in the rainbow, one element at a time as shown below:

1. using index
1. using iterable
1. using enumerate

```
1:red 2:orange 3:yellow 4:green 5:blue 6:indigo 7:violet 
```

__solution 1:__ Using list indexing

In [12]:
# using indexing 
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
for i in range(len(rainbow)):
    print(i+1,rainbow[i],sep=':',end=' ')

1:red 2:orange 3:yellow 4:green 5:blue 6:indigo 7:violet

__solution 2:__ Using list iterable

In [13]:
# using list which is iterable
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
count=1
for color in rainbow:
    print(count,color,sep=':',end=' ')
    count+=1

1:red 2:orange 3:yellow 4:green 5:blue 6:indigo 7:violet

__solution 3:__ Using enumerating list

In [14]:
# enumerating list with indices
for i,color in enumerate(rainbow):
    print(i+1,color,sep=':',end=' ')

1:red 2:orange 3:yellow 4:green 5:blue 6:indigo 7:violet

In [15]:
# enumerating list with indices
for i,color in enumerate(rainbow,1):
    print(i,color,sep=':',end=' ')

1:red 2:orange 3:yellow 4:green 5:blue 6:indigo 7:violet

Slicing
-------
Slicing is used to extract a subsequence out of your sequence(e.g. list, string):

    var[lower:upper:step]

The element which has index equal to the lower bound is included in the slice, but the element which has index equal to the upper bound is excluded, so mathematically, the ie slice is `[lower, upper)`.  If you think of the indices as being between the elements, then this mentally works very nicely, as we'll see.

The `step` argument is optional, and indicates the strides between elements in the subsequence, so a step of 2 takes every second element.

List slicing also has very similar semantics to slicing on strings. 
```
- a[start:end]  items start through end-1
- a[start:]     items start through the rest of the array
- a[:end]       items from the beginning through end - 1
- a[:]          a copy of the whole list
- a[start:end:step]  start through end - 1, by step
```

### Example 1: Slice `[11, 12]`

- slice [11, 12]

In [16]:
# slice [11, 12]
a = [10, 11, 12, 13, 14, 15]
b=a[1:3]
b

[11, 12]

### Example 2: Slice the first three elements `[10, 11, 12]`

In [17]:
# slice [10, 11, 12]
a = [10, 11, 12, 13, 14, 15]
b=a[:3]
b

[10, 11, 12]

### Example 3: Slice all elements except the last one using a negative indices

In [20]:
# slice [10, 11, 12, 13, 14], use negative indices
a = [10, 11, 12, 13, 14, 15]
b=a[:-1]
b

[10, 11, 12, 13, 14]

### Example 4:
- There is a list that consists of pairs of name and age. 
- Make a list of names or every other elements as shown in the following list, `data`.
- Compute the average age.

```
data = ['john', 3, 'kim', 7, 'peter', 13, 'paul', 17, 'david', 10]

names: ['john', 'kim', 'peter', 'paul', 'david']
aveage age:10.00
```

__Solution 1:__ Using enumerate() or for loop

In [22]:
data = ['john', 3, 'kim', 7, 'peter', 13, 'paul', 17, 'david', 10]
names=[]
age=0
for i in range(len(data)):
    if i%2==0:
        names.append(data[i])
    else:
        age+=data[i]

print('names:', names)
print('ages:',age)
age=age/(len(data)/2)
print('average age: %.2f' % age)
print('average age: {:.2f}'.format(age))

names: ['john', 'kim', 'peter', 'paul', 'david']
ages: 50
average age: 10.00
average age: 10.00

__Solution 2:__ Using slicing  - the simplest solution

In [23]:
data = ['john', 3, 'kim', 7, 'peter', 13, 'paul', 17, 'david', 10]
names=data[::2]
age=data[1::2]
age=sum(age)/(len(data)/2)

print('names:', names)
print('average age: %.2f' % age)
print('average age: {:.2f}'.format(age))

names: ['john', 'kim', 'peter', 'paul', 'david']
average age: 10.00
average age: 10.00

## Replace elements with 

Unlike strings, because lists are mutable, you can write values into a slice.  

### Example 6: Replace `11, 12` with `1, 2`

In [24]:
# replace 11, 12 with 1, 2
a = [10, 11, 12, 13, 13, 15]
a[1:3]=[1,2]
print(a)

[10, 1, 2, 13, 13, 15]

This overwrites the second and third elements.  However you can inject extra elements into the list in the same way: the length of the slice and the length of the injected list don't have to match.

### Example 7: Replace `11, 12` with `1, 2, 3, 4`
Insert `[1, 2, 3, 4]` into the slice from 1 to 3 such that it produces 
`[10, 1, 2, 3, 4, 13, 14, 15]`. 
This will remove the current contents of the slice and replace it with the new list, increasing the length of the list:

In [25]:
# replace, 1, 2 with 1, 2, 3, 4
a = [10, 1, 2, 13, 14, 15]
a[1:3]=[1,2,3,4]
print(a)

[10, 1, 2, 3, 4, 13, 14, 15]

## Delete elements

It's also possible to use the same idea for deleting elements.

If we take the slice from 1 to 3 and inject an empty list into the slice, it will __delete__ the second and third elements:

### Example 8: Delete elements `1, 2`
Complete the code to produce `[10, 3, 4, 13, 14, 15]`.

In [26]:
a = [10, 1, 2, 3, 4, 13, 14, 15]
a[1:3]=[]
print(a)

[10, 3, 4, 13, 14, 15]

## Copying elements

Finally, you can __slice or copy all of the elements__ with a slice like this:

### Example 9:

For example, we want to make a copy of list `a` and have `red` is replaced with `RED` as shown below:

```
a = ['red', 'green', 'blue']
b = ['RED', 'green', 'blue']
```

What is wrong with the following code?

In [28]:
a = ['red', 'green', 'blue'] 
b = a
b[0] = b[0].upper()

print('b =', b)
print('a =', a)
print(id(a))
print(id(b))

b = ['RED', 'green', 'blue']
a = ['RED', 'green', 'blue']
140196609578048
140196609578048

Use `[:]` to get a copy of a list which is a mutable object.

In [29]:
a = ['red', 'green', 'blue'] 
b = a[:]
b[0] = b[0].upper()

print('b =', b)
print('a =', a)
print(id(a))
print(id(b))

b = ['RED', 'green', 'blue']
a = ['red', 'green', 'blue']
140196610266816
140196323839872

## Tuple is immutable.

Tuple data type is defined by `( )` instead of `[ ]` as shown below:

```
a = ('red', 'green', 'blue')
a = ('RED', 'green', 'blue')
```
Use `tuple()` constructor to convert a list to a tuple type. 

If you want to change the first element of `a` into uppercase, which line of code would be a problem?

In [35]:
a = ('red', 'green', 'blue')
a[0] = a[0].upper()
print(a)

TypeError: 'tuple' object does not support item assignment

To obtain `a = ('RED', 'green', 'blue')`, do the following:
- convert `a` to a list type and call it `b`. 
- change `b[0]` to `RED`.
- change `b` back to a tuple type `a`.

In [36]:
b = list(a)
b[0]=b[0].upper()
c=tuple(b)
print(c)

('RED', 'green', 'blue')

## List Methods

Lists are objects, so they have a lot of methods available on them.

- `lst.append(item) `  adds item to the end of list lst
- `lst.extend(item) `  adds a sequence item to the list lst
- `lst.count(item)  `  returns the number of occurences of item in list lst
- `lst.index(item)  `  returns the index of the first occurence of item in list lst
- `lst.insert(index, item) `  inserts item into list just before index 
- `lst.pop()        `  removes the item in the list
- `lst.pop(i)       `  removes an item by index and returns the value
- `lst.remove(item) `  removes first occurrence of item in the list
- `lst.reverse()    `  reverses the order of items in the list
- `lst.sort         `  sorts the list __in-place__


### Example 1: 

`append()` adds a single element to the end of a list:

In [37]:
# add orange at the end
rainbow = ['red', 'green', 'blue']
rainbow.append('orange')
print(rainbow)

['red', 'green', 'blue', 'orange']

Using an addition operator:

In [38]:
rainbow = ['red', 'green', 'blue']
rainbow += ['orange']
print(rainbow)

['red', 'green', 'blue', 'orange']

### Example 2: 

add a sequence such as `[orange, black]` 

If you instead want to add a sequence to the end of a list, then you can use `extend()`:

```
rainbow = ['red', 'green', 'blue']
rainbow = ['red', 'green', 'blue', 'orange', 'black']
```

__Solution 1:__

In [42]:
# add [indigo, violet] at the end
rainbow = ['red', 'green', 'blue']
rainbow.extend(['orange','black'])
print(rainbow)

['red', 'green', 'blue', 'orange', 'black']

__Note 1:__
This is the same as using __inplace addition__:

In [43]:
rainbow = ['red', 'green', 'blue']
rainbow+=['orange','black']
print(rainbow)

['red', 'green', 'blue', 'orange', 'black']

__Note 2:__
Using `append()` with a list produces a differnt result than `extend()`:

In [45]:
rainbow = ['red', 'green', 'blue']
rainbow.append(['orange', 'black'])
print(rainbow)
len(rainbow)

['red', 'green', 'blue', ['orange', 'black']]

4

This adds a single element to the end of the list, and that element contains the thing we appended, in this case the list `['indigo', 'violet']`.

### Example 3: 

Count how many `red` in the list rainbow.

The `count()` method tells you how many of a certain element are in a list:

In [46]:
rainbow = ['red', 'green', 'blue', 'green', 'blue', 'red']
rainbow.count('red')

2

### Example 4: 

Remove all elements after `yellow` in the list rainbow. 

The `index()` method tells you the index of the first occurence of an element:

It produces the following
```
['red', 'orange', 'yellow']
```

In [48]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'yellow', 'indigo', 'violet']
idx=rainbow.index('yellow')
rainbow=rainbow[:idx+1]
print(rainbow)

['red', 'orange', 'yellow']

Notice that even though we have two 'yellow's we only get the index of the first one.

The `insert()` method inserts a new element into a list at a particular index.

### Example 5: 

Insert `pink` at the index = 2 in the list.   
The `insert()` method inserts a new element into a list at a particular index. 

It produces the following:

```
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
rainbow = ['red', 'orange', 'pink', 'yellow', 'green', 'blue', 'indigo', 'violet']
```

__Solution 1:__ Using `insert(index, value)`

In [49]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
rainbow.insert(2,'pink')
print(rainbow)

['red', 'orange', 'pink', 'yellow', 'green', 'blue', 'indigo', 'violet']

__Solution 2:__ Using slicing

In [50]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
rainbow[2:3]=['pink','yellow']
print(rainbow)

['red', 'orange', 'pink', 'yellow', 'green', 'blue', 'indigo', 'violet']

### Example 6: 
Remove `yellow` in the list.  
Use the `remove()` method to produce the following:

```
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
rainbow = ['red', 'orange', 'green', 'blue', 'indigo', 'violet']
```
__Solution 1: Using `remove(value)`__

In [52]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
rainbow.remove('yellow')
print(rainbow)

['red', 'orange', 'green', 'blue', 'indigo', 'violet']

__Solution 2:__ Using slicing

In [53]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
rainbow[2:3]=[]
print(rainbow)

['red', 'orange', 'green', 'blue', 'indigo', 'violet']

### Example 7: Remove third element and print its value

__Expected Output__:
```
['red', 'orange', 'green', 'blue', 'indigo', 'violet']
yellow
```

The `pop()` method returns the value and removes an element from a list, but __by index__ rather than by value.

In [54]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
zap=rainbow.pop(2)
print(rainbow)
print(zap)

['red', 'orange', 'green', 'blue', 'indigo', 'violet']
yellow

### Example 8: `sort()` : in-place sort

Lists have a `sort()` method which is quite powerful.  The sort method takes various arguments that allow you to control how the sorting is done, and we'll cover that in another lecture.  But if you just call it without any argument it will sort the elements in ascending order, which is fairly useful by itself:

```
a = [10, 1, 11, 13, 11, 2, 15, 14]
a = [1, 2, 10, 11, 11, 13, 14, 15]
```

In [55]:
a = [10, 1, 11, 13, 11, 2, 15, 14]
a.sort()
print(a)

[1, 2, 10, 11, 11, 13, 14, 15]

__Note:__ Using function `sorted()` 

```
a = [10, 1, 11, 13, 11, 2, 15, 14]
b = [10, 1, 11, 13, 11, 2, 15, 14]
c = [1, 2, 10, 11, 11, 13, 14, 15]
```

In [57]:
a = [10, 1, 11, 13, 11, 2, 15, 14]
b=a[:]
c=sorted(b)
print(a)
print(b)
print(c)

[10, 1, 11, 13, 11, 2, 15, 14]
[10, 1, 11, 13, 11, 2, 15, 14]
[1, 2, 10, 11, 11, 13, 14, 15]

This is an __in-place sort__, so it actually modifies the list `a`.  If you want to sort a list, but don't want to modify it, but instead create a new, sorted list, then the `sorted()` built-in function will do this for you. Some built-in functions such as sum, len, max can be used.

### Example 9: reverse()

Finally, there is the `reverse()` method that reverses the elements of the list __in-place__:

## Operations on Lists

We've seen the generic length function in Python and __it works on any kind of sequence__, including lists:

- `len()`     - returns the length of an object
- `sorted()`  - returns sorted list of an object 
- `del`       - deletes an item from a list by index
- `in`        - tests for membership in a list 
- `not in`    - tests for membership in a list 

### Example 1: 

Get the length of the list given:

In [62]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
len(rainbow)

7

### Example 2: 

Use `sorted()` function to sort the sequence.

Note: A list also has the `sort()` method which performs the same way as `sorted()`. The only difference being, the `sort()` method doesn't return any value and changes the original list.

In [63]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
rsorted = sorted(rainbow)
print(rainbow)
print(rsorted)

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
['blue', 'green', 'indigo', 'orange', 'red', 'violet', 'yellow']

### Example 3: 

Use `sorted()` function to reverse the sequence.

In [64]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
rsorted = sorted(rainbow, reverse = True)
print(rainbow)
print(rsorted)

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
['yellow', 'violet', 'red', 'orange', 'indigo', 'green', 'blue']

### Example 4: 

Use `sorted()` to sort by its length

In [65]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
rsorted = sorted(rainbow, key = len)
print(rainbow)
print(rsorted)

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
['red', 'blue', 'green', 'orange', 'yellow', 'indigo', 'violet']

### Example 5: 

Test if  `purple` is in `rainbow`.

A powerful feature is being able to test for membership in a list using the `in` keyword.

In [66]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
'purple' in rainbow

False

You can invert the idea and test to see if something is `not in` the list:

In [67]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
'purple' not in rainbow

True

The result is `True` since 'purple' is not in `rainbow`.

In the following code snippet, replace `None` with an logical expression such that it prints `True` since 0 is not in `a`.

In [70]:
a = [1, 2, 3, 4, 5, 6]
print('0' not in a)

True

# Exercises

## Swap neighbours

Given a list of numbers, swap adjacent items in pairs (`a[0]` with `a[1]`, `a[2]` with `a[3]`, etc.). Print the resulting list. If a list has an odd number of elements, leave the last element in place.

__Sample Runs:__
```
a = [1, 2, 3]
# your code here
print(a)

[2, 1, 3]
```
-----------
```
a = [0, 9, 4, 5, 2, 3]
# your code here
print(a)

[9, 0, 5, 4, 3, 2]
```
-----------
```
a = [0, 9, 4, 5, 2, 3, 1]
# your code here
print(a)

[9, 0, 5, 4, 3, 2, 1]
```

__Hint__: Believe it or not, mutiple assignments are possible. In the following code, two values of `x` and `y` are swapped.
```
x, y = 1, 2      # x = 1, y = 2
x, y = y, x      # x = 2, y = 1
```

In [81]:
a = [0, 9, 4, 5, 2, 3]
if len(a)%2==0:
    for i in range(0,len(a),2):
        a[i],a[i+1]=a[i+1],a[i]
else:
    for i in range(0,len(a)-1,2):
        a[i],a[i+1]=a[i+1],a[i]
print(a)

[9, 0, 5, 4, 3, 2]

## swap_two()

Make the functionality of 'swap neighbours' coded above into a function. There are two ways to implement this function. 
- swap_two_inplace() in place returns None, but changes the input list itself in the argument
- swap_two() returns a new list without changing the input list in the argument

__Sample Run 1:__
```
if __name__ == '__main__':
    a = [0, 9, 4, 5, 2, 3, 1]
    b = swap_two_inplace(a)
    print("a:", a)
    print("b:", b)
```

__Expected Output:__
```
a: [9, 0, 5, 4, 3, 2, 1]
b: None
```

__Sample Run 2:__
```
if __name__ == '__main__':
    a = [0, 9, 4, 5, 2, 3, 1]
    b = swap_two(a)
    print("a:", a)
    print("b:", b)
```
__Expected Output:__
```
a: [0, 9, 4, 5, 2, 3, 1]
b: [9, 0, 5, 4, 3, 2, 1]
```

__Sample Run 3:__
```
if __name__ == '__main__':
    a = [1, 2, 3, 4, 5]
    b = swap_two(a)
    print("a:", a)
    print("b:", b)
```
__Expected Output:__
```
a: [1, 2, 3, 4, 5]
b: [2, 1, 4, 3, 5]
```

In [2]:
# test 1
def swap_two_inplace(a):
    if len(a)%2==0:
        for i in range(0,len(a),2):
            a[i],a[i+1]=a[i+1],a[i]
    else:
        for i in range(0,len(a)-1,2):
            a[i],a[i+1]=a[i+1],a[i]
    return None

if __name__ == '__main__':
    a = [0, 9, 4, 5, 2, 3, 1]
    b = swap_two_inplace(a)
    print("a:", a)
    print("b:", b)

a: [9, 0, 5, 4, 3, 2, 1]
b: None

In [9]:
# test 2
def swap_two(a):
    b=[]
    if len(a)%2==0:
        for i in range(0,len(a),2):
            b.extend([a[i+1],a[i]])
    else:
        for i in range(0,len(a)-1,2):
            b.extend([a[i+1],a[i]])
        b.append(a[-1])
    return b

if __name__ == '__main__':
    a = [0, 9, 4, 5, 2, 3, 1]
    b = swap_two(a)
    print("a:", a)
    print("b:", b)

a: [0, 9, 4, 5, 2, 3, 1]
b: [9, 0, 5, 4, 3, 2, 1]

In [10]:
# test 3
def swap_two(a):
    b=[]
    if len(a)%2==0:
        for i in range(0,len(a),2):
            b.extend([a[i+1],a[i]])
    else:
        for i in range(0,len(a)-1,2):
            b.extend([a[i+1],a[i]])
        b.append(a[-1])
    return b

if __name__ == '__main__':
    a = [1, 2, 3, 4, 5]
    b = swap_two(a)
    print("a:", a)
    print("b:", b)

a: [1, 2, 3, 4, 5]
b: [2, 1, 4, 3, 5]

## The largest element and its index

With a given list of integers, the function `largest()` returns the value of the largest element and the index number. If the largest element is not unique, print the index of the first instance.

__Hint__: You can solve this problem without using a loop if you use a method available for the list object as well as built-in functions in Python. 

__Sample Run:__
```
if __name__ == '__main__':
    value, index = largest( [6, 9, 6, 23, 12, 19, 14, 26, 11] )
    print(value, index)
```

__Explected Output:__
```
26 7
```

In [12]:
a = [6, 9, 6, 23, 12, 19, 14, 26]

x=max(a)
x_value = x
x_index = a.index(x)

print(x_value, x_index)

26 7

## Unique elements

Given a list of integers, this function, `only_once(alist)`, returns a list with the elements that appear in the original list only once. The elements must be listed in the order in which they occur in the original list. Don't use `set`. 


__Sample Runs:__
```
a = [4, 3, 5, 2, 5, 1, 3, 5]
print(only_once(a))
[4, 2, 1]
```
```
b = [6, 9, 6, 23, 12, 19, 14, 26]
print(only_once(b))
[9, 23, 12, 19, 14, 26]
```

__Hint:__ Use a method available for a list object. Remember that `obejct.<tab>` displays a list of methods available for that `object`.

In [57]:
def only_once(alist):
    b = []
    c=[]
    for n in alist:
        c.append(alist.count(n))
    for i in range(len(alist)):
        if c[i]==1:
            b.append(alist[i])
    return b

In [58]:
a = [4, 3, 5, 2, 5, 1, 3, 5]
b = [6, 9, 6, 23, 12, 19, 14, 26]
print(only_once(a))
print(only_once(b))

[4, 2, 1]
[9, 23, 12, 19, 14, 26]


## new_stairs()*

For a given positive integer N ≤ 9 print a stair of N steps. The k-th step consists of the integers from k to 1 without spaces between them. The result of new_stairs(8) produces the following:

__Sample Run:__

```
[1]
[1, 21]
[1, 21, 321]
[1, 21, 321, 4321]
[1, 21, 321, 4321, 54321]
[1, 21, 321, 4321, 54321, 654321]
[1, 21, 321, 4321, 54321, 654321, 7654321]
[1, 21, 321, 4321, 54321, 654321, 7654321, 87654321]
```
__Hints__: if your returns `stairs` at the end, it contains the last line of stairs.
For new
- Need two for-loops, one for range(N) and the other for range(?,0, -1) 
- At the end of two loops when stairs(8), `stairs[]` contains the follwoing:

`[1, 21, 321, 4321, 54321, 654321, 7654321, 87654321]`

In [72]:
N=input('Input a positive number(n <= 9): ')

stairs=[]
for i in range(1,int(N)+1):
    s=''
    for j in range(i,0,-1):
        s+=str(j)
    stairs.append(int(s))
for i in range(int(N)):
    print(stairs[:i+1])

Input a positive number(n <= 9):  8

[1]
[1, 21]
[1, 21, 321]
[1, 21, 321, 4321]
[1, 21, 321, 4321, 54321]
[1, 21, 321, 4321, 54321, 654321]
[1, 21, 321, 4321, 54321, 654321, 7654321]
[1, 21, 321, 4321, 54321, 654321, 7654321, 87654321]

# 학습 정리

1. 슬라이싱 문법   
1. 다양한 리스트 메소드
1. 리스트 작업 수행

# 참고자료
- [Python Lists](https://www.w3schools.com/python/python_lists.asp)

--------
__슬기로운 자는 재앙을 보면 숨어 피하여도 어리석은 자들은 나가다가 해를 받느니라.__
잠언27:12